* {
  box-sizing: border-box;
}
body {
  font-family: "Anek Malayalam", sans-serif;
  /* font-family: "Roboto Mono", monospace; */
  background-color: rgb(251, 232, 223, 0.3);
}

.card {
  width: 1085px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: transparent;
}

.card-body {
  height: 600px;
}

.background {
  width: 1050px;
  height: 564px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 23px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 23px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 23px -3px rgba(0, 0, 0, 0.3);
}

.backgroundimg {
  border-radius: 7px;
  opacity: 90%;
  height: 566px;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 400px;
}

.search-container {
  position: relative;
  top: -450px;
  left: 30px;
}

.searchform {
  height: 0px;
}

.search-bar {
  width: 765px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: rgba(116, 116, 128, 0.4);
  color: white;
  font-size: 20px;
}

.curr-location-button {
  width: 200px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  /* background-color: rgb(36, 35, 60, 0.7); */
  background-color: rgb(36, 35, 60, 0.5);
  color: white;
  font-size: 20px;
}

textarea:focus,
input:focus {
  outline: none;
  /* background-color: rgb(36, 35, 60, 0.4); */
}

::placeholder {
  color: rgb(235, 232, 232);
}

.search-icon-button {
  background-color: transparent;
  border: none;
  position: relative;
  left: 705px;
  top: -56px;
}

.search-icon-img {
  height: 58px;
}

.main {
  position: relative;
  top: -435px;
  left: 30px;
  width: 990px;
  height: 180px;
  padding: 10px 20px;
  background-color: rgb(116, 116, 128, 0.4);
  border-radius: 5px;
  color: white;
}
.curr-weather,
.curr-city {
  font-size: 35px;
}

.curr-weather {
  height: 0px;
}
.curr-city {
  padding-top: 18px;
}
.current-city-weather .active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.fahrenheit,
.celsius,
.dash {
  text-decoration: none;
  color: rgb(189, 189, 189);
}

.date {
  font-size: 15px;
  padding-top: 14px;
}
.conditons {
  margin-left: 30px;
  font-size: 15px;
}
.weather-icon {
  height: 80px;
  float: left;
}
.current-city-weather {
  padding-top: 15px;
  float: left;
}

.weather-description {
  text-transform: capitalize;
  font-size: 22px;
  line-height: 30px;
}

.weekly-forcast-container {
  position: relative;
  top: -420px;
  left: 30px;
  width: 990px;
  height: 140px;
  padding: 20px 25px;
  background-color: rgb(116, 116, 128, 0.4);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 15px;
}

.weekly-forcast-icon {
  height: 60px;
}

.weekly-forecast-date {
  font-weight: 600;
  font-size: 15px;
}

.weekly-forecast-temperature-min,
.weekly-forecast-degree {
  color: rgb(189, 189, 189);
}

.weekly-forecast-temperatures {
  font-size: 15px;
}

.developer {
  color: rgb(163, 146, 141);
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  display: block;
  margin: 0 auto;
}

.github-link {
  color: rgb(54, 54, 82);
  cursor: pointer;
}

/* .celsius-feelslike {
  color: white;
  text-decoration: none;
} */
